# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
dist-electron

# Build and release files
releases/
temp-app/
app-updated.asar
*.exe
*.asar

# IDE/editor
.vscode
.idea

# Env
.env
